.container {
  width: 70%;
  margin: 30px auto;
}

.header-decom {
  display: flex;
  flex-direction: row;
  border: 2px solid green;
}

.news__menu.menu-news{
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  width: 50em;
}
.news__menu.menu-news ul{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.news__menu.menu-news ul li{
  margin-right: 20px;
}
.news__list {
     list-style: none;
}

.promo-block-header{
  width: 10em;
  margin-left: 10px;
}
/* основная страница*/
.main-decom{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.search__menu ul{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.search__menu ul li{
  margin-right: 10px;
}
.search{
   border: 2px solid green;
}

.promo-block{
  margin-top: 15px;
  border: 2px solid green;
  width: 100%;
}

.widget-items {
   margin-top: 15px;
   border: 2px solid green;
   width: 100%;
}

.widget-items{
  display: block;
  column-count: 3;
  height: 300px;
}